@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

html {
    width: 100%; height: 100%;
}
body {
    width:100%; height: 100%;
    padding:0;
    margin:0;
    background-color: #EEEEEF;
}

.app-container {
    width: 100%; height: 100%;
    display: flex; flex-flow: row;
    box-sizing: border-box;
}

.menu-container {
    width: 300px; max-width: 300px; min-width: 300px; height: auto;
    flex-grow: 1;
    display: flex; flex-flow: column;
    box-sizing: border-box;
    justify-content: center;
    margin-left: 150px;
}

.menu-item {
    padding: 20px;
    text-align: center;
}

a.menu-link {
    padding: 5px;
    border-radius: 10px;
    color: black;
    border: 0;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Italiana', serif;
}
a.menu-link:hover {
    background-color: yellow;
}

.logo {
    font-size: 40px;
    font-family: 'Italiana', serif;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.glitch {
    width: 100%; height: 100%;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
}

.footer {
    flex-shrink: 0;
    display: flex; float: row; justify-content: space-between;
    font-family: 'Italiana', serif;
}

.footer-link {
    color: black;
    font-family: monospace;
    padding: 10px;
}

.page-container {
    width: 100%;
    flex-grow: 1;
    display: flex; flex-flow: column;
}

@media all and (max-width: 700px) {
    .glitch {
        display: none;
    }
    .menu-container {
        margin: 0;
    }
}
